<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--
        通过mapUnderscoreToCamelCase属性设置为true可以自动将以下划线方式命名的数据库列映射到Java对象的驼峰式命名属性中。
        这个属性默认为false
        -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.tangcheng.mybatis.xml.introduction.domain"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis-subject"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/SysUserDOMapper.xml"/>
        <!--org.apache.ibatis.binding.BindingException: Type interface com.tangcheng.mybatis.xml.introduction.mapper.SysRoleDOMapper is not known to the MapperRegistry.-->
        <mapper resource="mapper/SysRoleDOMapper.xml"/>
    </mappers>


</configuration>