<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CountryMapper">
    <select id="selectAll" resultType="Country">
        SELECT id,name,code FROM country
    </select>

    <select id="selectCountryById" resultType="com.tangcheng.mybatis.introduction.domain.Country">
        select id,name,code from country
        where id=#{id}
    </select>

</mapper>